[Unit]
Description=Mail->Zulip Mirror Bot
After=syslog.target network.target

[Service]
Type=simple
User=zulip-bot
WorkingDirectory=/home/zulip-bot/zulip-mail-bot
ExecStart=/home/zulip-bot/zulip-mail-bot/env/bin/python mail-mirror.py
Restart=on-abort

[Install]
WantedBy=multi-user.target
Alias=zulip-mail-mirror.service
