[Unit]
Description=Zulip->Seafile File Mirror Bot
After=syslog.target network.target

[Service]
Type=simple
User=zulip-bot
WorkingDirectory=/home/zulip-bot/bots/
ExecStart=/home/zulip-bot/bots/env/bin/python bot.py
Restart=on-abort
EnvironmentFile=/home/zulip-bot/seafile.env

[Install]
WantedBy=multi-user.target
Alias=zulip-seafile-mirror.service
